################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdeNet_BlazorDataGrid/BlazorDataGrid/.vs/BlazorDataGrid/DesignTimeBuild
/AdeNet_BlazorDataGrid/BlazorDataGrid/.vs/BlazorDataGrid/FileContentIndex
/AdeNet_BlazorDataGrid/BlazorDataGrid/.vs/BlazorDataGrid/v17
/AdeNet_BlazorDataGrid/BlazorDataGrid/.vs/ProjectEvaluation
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/staticwebassets
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Release/net7.0
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/BlazorDataGrid.csproj.nuget.dgspec.json
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/BlazorDataGrid.csproj.nuget.g.props
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/BlazorDataGrid.csproj.nuget.g.targets
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.MvcApplicationPartsAssemblyInfo.cache
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.pdb
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.RazorAssemblyInfo.cache
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.RazorAssemblyInfo.cs
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/project.razor.vs.json
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/staticwebassets.build.json
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/staticwebassets.development.json
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/staticwebassets.pack.json
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/project.assets.json
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/project.nuget.cache
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/apphost.exe
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.AssemblyInfo.cs
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.AssemblyInfoInputs.cache
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.assets.cache
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.csproj.AssemblyReference.cache
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.csproj.BuildWithSkipAnalyzers
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.csproj.CoreCompileInputs.cache
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.csproj.FileListAbsolute.txt
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.dll
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.GeneratedMSBuildEditorConfig.editorconfig
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.genruntimeconfig.cache
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0/BlazorDataGrid.GlobalUsings.g.cs
/AdeNet_BlazorDataGrid/BlazorDataGrid/Pages/Counter.razor
/AdeNet_BlazorDataGrid/BlazorDataGrid/obj/Debug/net7.0
/AdeNet_BlazorDataGrid/BlazorDataGrid/bin/Debug/net7.0
/AdeNet_BlazorDataGrid/BlazorDataGrid/.vs/BlazorDataGrid/config
