/* ========================================================
*  BASE RULES
* =======================================================*/
/* Normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

/* Base.css */
/* Universal box-sizing */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Altair-Theme.css */
:root {
    /* Technical design tokens */
    --font-family: "Source Sans", sans-serif;
    --font-family-semibold: "Source Sans SemiBold", sans-serif;
    --font-family-bold: "Source Sans", sans-serif;

    --font-size-small: 0.875rem;
    --font-size: 1rem;
    --font-size-large: 1.125rem;
    --font-size-larger: 1.25rem;

    --line-height: 1.125;

    --font-weight: normal;
    --font-weight-semibold: normal;
    --font-weight-bold: 700;

    --base-text-color: #000;
    --base-secondary-text-color: #757575;
    --base-color: #fff;
    --base-light-color: #f5f5f5;
    --base-dark-color: #555555;

    --base-hover-color: #eeeeee;
    --base-active-color: #d6d6d6;
    --base-active-deep-color: #bfbfbf;

    --background-color: #f5f5f5;

    --theme-text-color: #fff;
    --theme-color: #236194;

    --theme-secondary-text-color: #b7cfe6;
    --theme-secondary-color: #508FB9;

    --primary-text-color: #fff;
    --primary-color: #0099dd;
    --primary-hover-color: #007bb1;
    --primary-active-color: #005c85;

    --link-color: #236196;
    --link-hover-color: #1c4e77;
    --link-active-color: #153a59;

    --focus-color: #d9eeff;

    --border-color: #d2d2d2;
    --border-dark-color: #555555;
    --border-radius: 2px;
    --border-width: 1px;
    --border-style: solid;

    --shadow-color: #808080;

    --whitespace: 8px;

    --error-color: #f8d7da;
    --warn-color: #ffe6cc;
    --info-color: #cce5ff;
    --success-color: #a5d6a7;

    --error-text-color: #d50000;
    --warn-text-color: #ff6d00;
    --info-text-color: #0a82ff;
    --success-text-color: #2e7d32;

    /* Semantic design tokens */
    --input-font-size: var(--font-size);
    --label-font-size: var(--font-size-small);
    --title-font-size: var(--font-size-large);
}

/* ========================================================
*  LAYOUT RULES
* =======================================================*/
html {
    font-family: var(--font-family);
    font-size: var(--font-size);

    line-height: var(--line-height);

    background-color: var(--background-color);
}

/* .application {} */


.section-header {
    flex-basis: 100%;
}

.section-main {
    display: flex;
    flex-wrap: wrap;
}

.section-index {
    flex-basis: 250px;

    background-color: var(--base-color);
}

.section-content {
    flex-grow: 1;
    max-width: 100%;

    padding: 32px 32px 32px 32px;

    display: inline-flex;
    flex-direction: column;
    gap: 32px;
}

/* ========================================================
*  COMPONENT RULES
* =======================================================*/
/* SVG-Properties.css */
.svg {
    --svg-default: currentColor;
    --svg-active: var(--primary-color);
    --svg-warn: var(--warn-text-color);
}

/* SVG.css */
.svg {
    fill: var(--svg-default);
}

.icon-small {
    width: 16px;
    height: 16px;
}

.icon {
    width: 32px;
    height: 32px;
}

.symbol {
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

/* Literal-Properties.css */
.literal {
    --literal-margin: inherit;
    --literal-padding: inherit;

    --literal-font-size: inherit;
    --literal-font-weight: inherit;
    --literal-font-family: inherit;

    --literal-line-height: inherit;

    --literal-text-color: inherit;
    --literal-text-decoration: inherit;
}

/* Literal.css */
.literal {
    margin: var(--literal-margin);
    padding: var(--literal-padding);

    font-size: var(--literal-font-size);
    font-weight: var(--literal-font-weight);
    font-family: var(--literal-font-family);
    line-height: var(--literal-line-height);

    color: var(--literal-text-color);
    text-decoration: var(--literal-text-decoration);
}

/* Link.css */
.link {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
}

.link:hover,
.link.hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

.link:active,
.link.active {
    color: var(--link-active-color);
}

/* FieldLabel-Properties.css */
.fieldlabel {
    --fieldlabel-font-size: var(--font-size-small);
    --fieldlabel-font-weight: inherit;
    --fieldlabel-font-family: inherit;

    --fieldlabel-line-height: inherit;

    --fieldlabel-text-color: var(--base-secondary-text-color);
    --fieldlabel-text-decoration: inherit;
}

/* FieldLabel.css */
.fieldlabel {
    margin: 0;

    font-size: var(--fieldlabel-font-size);
    font-weight: var(--fieldlabel-font-weight);
    font-family: var(--fieldlabel-font-family);
    line-height: var(--fieldlabel-line-height);

    color: var(--fieldlabel-text-color);

    text-decoration: var(--fieldlabel-text-decoration);
}

/* FieldValue-Properties (TODO: ReadonlyField?) */
.fieldvalue {
    --fieldvalue-height: calc(1.75 * var(--font-size));
}

/* FieldValue.css */
.fieldvalue {
    margin: 0;

    line-height: var(--fieldvalue-height);
}

/* FieldGroup.css */
/* Description: A field group allows mutltiple fields and field values to be placed close together.
 * It is similar to a button group. */
.fieldgroup {
    display: inline-flex;
    gap: 1ch;
    align-items: center;
}

/* Field-Properties.css */
.field {
    --field-height: calc(1.75 * var(--font-size));

    --field-padding-top: 3px;
    --field-padding-right: 4px;
    --field-padding-bottom: 3px;
    --field-padding-left: 6px;

    --field-text-color: var(--base-text-color);

    --field-background-color: var(--base-light-color);
    --field-filled-background-color: var(--base-dark-color);
    --field-focus-background-color: var(--focus-color);
    --field-disabled-background-color: var(--base-color);

    --field-border-color: var(--border-color);
    --field-focus-border-color: var(--primary-color);
    --field-disabled-border-color: var(--border-color);
    --field-disabled-svg-default-color: var(--border-color);

    --field-border-width: var(--border-width);
    --field-border-radius: var(--border-radius);
    --field-border-style: var(--border-style);
}

/* Field.css */
.field {
    height: var(--field-height);

    padding-top: var(--field-padding-top);
    padding-right: var(--field-padding-right);
    padding-bottom: var(--field-padding-bottom);
    padding-left: var(--field-padding-left);

    background-color: var(--field-background-color);
    border-color: var(--field-border-color);

    border-width: var(--field-border-width);
    border-radius: var(--field-border-radius);
    border-style: var(--field-border-style);
}

.field:focus,
.field.focus,
.field:focus-within {
    background-color: var(--field-focus-background-color);
    border-color: var(--field-focus-border-color);
    outline: none;
}

.field:disabled,
.field.disabled {
    background-color: var(--field-disabled-background-color);
    border-color: var(--field-disabled-border-color);
}

.field .field-icon {
    cursor: pointer;
}

.field:disabled .field-icon,
.field.disabled .field-icon {
    --svg-default: var(--field-disabled-svg-default-color);
}

/* Textbox-Properties.css */
.textbox {
    --textbox-font-size: var(--font-size);
    --textbox-font-family: var(--font-family);

    --textbox-text-color: var(--base-text-color);
}

/* Textbox.css */
.textbox {
    font-size: var(--textbox-font-size);
    font-family: var(--textbox-font-family);

    color: var(--textbox-text-color);
}

/* Textarea-Properties.css */
.textarea {
    --textarea-height: calc(3 * var(--field-height));
}

/* Textarea.css */
.textarea {
    height: var(--textarea-height);
    resize: none;
}

/* Checkbox-Properties */
.checkbox {
    --checkbox-height: var(--font-size);
    --checkbox-width: var(--font-size);

    --checkbox-border-width: var(--field-border-width);
    --checkbox-border-style: var(--field-border-style);
    --checkbox-border-radius: var(--field-border-radius);

    --checkbox-background-color: var(--field-background-color);
    --checkbox-focus-checked-background-color: var(--field-focus-border-color);
    --checkbox-checked-background-color: var(--field-filled-background-color);
    --checkbox-disabled-background-color: var(--field-disabled-background-color);
    --checkbox-disabled-checked-background-color: var(--field-border-color);

    --checkbox-border-color: var(--field-filled-background-color);
    --checkbox-focus-checked-border-color: var(--field-focus-border-color);
    --checkbox-checked-border-color: var(--field-filled-background-color);
    --checkbox-disabled-border-color: var(--field-border-color);
    --checkbox-disabled-checked-border-color: var(--field-border-color);

    --checkbox-checked-background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M6 10l3 3l6-6'/></svg>");
}

/* Checkbox */
.checkbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;

    height: var(--checkbox-height);
    width: var(--checkbox-width);
    padding: 0;

    background-color: var(--checkbox-background-color);
    border-color: var(--checkbox-border-color);

    border-width: var(--checkbox-border-width);
    border-style: var(--checkbox-border-style);
    border-radius: var(--checkbox-border-radius);
}

.checkbox:checked {
    border-color: var(--checkbox-checked-border-color);
    background-color: var(--checkbox-checked-background-color);
}

.checkbox:checked:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--checkbox-background-color);
    -webkit-mask-image: var(--checkbox-checked-background-image);
    mask-image: var(--checkbox-checked-background-image);
}

.checkbox:focus:checked {
    background-color: var(--checkbox-focus-checked-background-color);
    border-color: var(--checkbox-focus-checked-border-color);
}

.checkbox:disabled {
    background-color: var(--checkbox-disabled-background-color);
    border-color: var(--checkbox-disabled-border-color);
}

.checkbox:disabled:checked {
    background-color: var(--checkbox-disabled-checked-background-color);
    border-color: var(--checkbox-disabled-checked-border-color);
}

/* Radiobutton-Properties */
.radiobutton {
    --radiobutton-height: var(--font-size);
    --radiobutton-width: var(--font-size);

    --radiobutton-border-width: var(--field-border-width);
    --radiobutton-border-style: var(--field-border-style);
    --radiobutton-border-radius: 50%;

    --radiobutton-background-color: var(--field-background-color);
    --radiobutton-focus-checked-background-color: var(--field-focus-border-color);
    --radiobutton-checked-background-color: var(--field-filled-background-color);
    --radiobutton-disabled-background-color: var(--field-disabled-background-color);
    --radiobutton-disabled-checked-background-color: var(--field-border-color);

    --radiobutton-border-color: var(--field-filled-background-color);
    --radiobutton-focus-checked-border-color: var(--field-focus-border-color);
    --radiobutton-checked-border-color: var(--field-filled-background-color);
    --radiobutton-disabled-border-color: var(--field-border-color);
    --radiobutton-disabled-checked-border-color: var(--field-border-color);

    --radiobutton-checked-background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='none' stroke='%23fff' stroke-width='2'/></svg>")
}

/* Radiobutton */
.radiobutton {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;

    height: var(--radiobutton-height);
    width: var(--radiobutton-width);
    padding: 0;

    background-color: var(--radiobutton-background-color);
    border-color: var(--radiobutton-border-color);

    border-width: var(--radiobutton-border-width);
    border-style: var(--radiobutton-border-style);
    border-radius: var(--radiobutton-border-radius);
}

.radiobutton:checked {
    border-color: var(--radiobutton-checked-border-color);
    background-color: var(--radiobutton-checked-background-color);
}

.radiobutton:checked:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--radiobutton-background-color);
    -webkit-mask-image: var(--radiobutton-checked-background-image);
    mask-image: var(--radiobutton-checked-background-image);
}

.radiobutton:focus:checked {
    background-color: var(--radiobutton-focus-checked-background-color);
    border-color: var(--radiobutton-focus-checked-border-color);
}

.radiobutton:disabled {
    background-color: var(--radiobutton-disabled-background-color);
    border-color: var(--radiobutton-disabled-border-color);
}

.radiobutton:disabled:checked {
    background-color: var(--radiobutton-disabled-checked-background-color);
    border-color: var(--radiobutton-disabled-checked-border-color);
}

/* Field-FKey.css */
.fkey {
    display: flex;
    align-items: center;
}

.fkey-textbox {
    flex-grow: 1;
    border: none;
    background: transparent;
}

.fkey-textbox:focus {
    outline: none;
}

/* Field-Datepicker.css */
.datepicker {
    display: flex;
    align-items: center;
}

.datepicker-textbox {
    flex-grow: 1;
    border: none;
    background: transparent;
}

.datepicker-textbox:focus {
    outline: none;
}

.datepicker-icon {
    height: 2em;
}

/* Field-Multi-Select.css */
.field-multiselect {
    padding-right: 1.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.25rem center;
    background-size: 16px 12px;
    flex: 1;
}

.field-multiselect-group {
    display: flex;
}

.field-multiselect-text {
    display: block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Field-Fileupload-Properties.css */
.fileupload {
    --fileupload-text-color: var(--base-secondary-text-color);
}

/* Field-Fileupload.css */
.fileupload {
    display: flex;
    align-items: center;
}

.fileupload-textbox {
    flex-grow: 1;
    border: none;
    background: transparent;
}

.fileupload-textbox:focus {
    outline: none;
}

.fileupload-button {
    display: block;
    height: 32px;
    width: 32px;
}

.fileupload-input {
    display: none;
}

.fileupload-text {
    color: var(--fileupload-text-color);
}

/* --------------------------------------------------------
*  Form Fields
* -------------------------------------------------------*/
.formfield {
    display: flex;
    flex-direction: column;
}

/* --------------------------------------------------------
*  Datagrid
* -------------------------------------------------------*/
/* Datagrid-Properties.css */
.datagrid {
    --datagrid-line-height: 1.5;
    --datagrid-fieldvalue-padding: 0 0 0 6px;

    --datagrid-header-font-size: var(--font-size-small);
    --datagrid-header-font-weight: var(--font-weight);
    --datagrid-header-text-color: var(--base-secondary-text-color);
    --datagrid-header-text-align: left;

    --datagrid-border-color: var(--border-color);
    --datagrid-border-width: var(--border-width);
    --datagrid-border-style: var(--border-style);

    --datagrid-field-border-color: var(--base-color);
    --datagrid-field-border-width: var(--border-width);
    --datagrid-field-border-style: var(--border-style);

    --datagrid-row-focus-color: var(--focus-color);
    --datagrid-row-hover-color: var(--base-hover-color);
}

/* Datagrid.css */
.datagrid {
    line-height: var(--datagrid-line-height);

    /* TODO: This can only happen if responsiveness strategy allows grids to exceed the container size */
    overflow-x: auto;
}

.datagrid-table {
    border-spacing: 0;

    /* TODO: Responsiveness strategy? */

    /* HACK 1: Setting width 0 allows columns to have a calculated width without the requirement of a dynamic col definition (dead area) */
    width: 0;

    /* HACK 2: Setting height 0 allows cell content to have a 100% height (since height requires a parent to have a calculated, absolute height). */
    height: 0;

    /*table-layout: fixed;*/
}

.datagrid-table.dynamic-width {
    width: 100%;
}

.datagrid-header-cell,
.datagrid-data-cell {
    padding: 0;

    /* TODO: There are cells that are allowed to wrap but this would prevent virtualization */
    white-space: nowrap;
    overflow: hidden;
}

.datagrid-header-cell {
    font-size: var(--datagrid-header-font-size);
    font-weight: var(--datagrid-header-font-weight);
    color: var(--datagrid-header-text-color);
    text-align: var(--datagrid-header-align);
}

.datagrid-header-cell,
.datagrid.readonly .datagrid-data-cell,
.datagrid.editable .datagrid-data-row:last-child .datagrid-data-cell {
    border-bottom-color: var(--datagrid-border-color);
    border-bottom-width: var(--datagrid-border-width);
    border-bottom-style: var(--datagrid-border-style);
}

.datagrid.editable .datagrid-data-cell {
    border-color: var(--datagrid-field-border-color);
    border-width: var(--datagrid-field-border-width);
    border-style: var(--datagrid-field-border-style);
}

.datagrid .datagrid-fieldvalue {
    padding: var(--datagrid-fieldvalue-padding);
}

.datagrid-data-row .datagrid-field {
    border: none;
    width: 100%;
}

.datagrid-data-row.focus,
.datagrid-data-row.focus .datagrid-field {
    background-color: var(--datagrid-row-focus-color);
}

.datagrid-data-row:hover:not(.focus),
.datagrid-data-row.hover:not(.focus),
.datagrid-data-row:has(.datagrid-field:hover):not(.focus) .datagrid-field,
.datagrid-data-row:hover:not(.focus) .datagrid-field,
.datagrid-data-row.hover:not(.focus) .datagrid-field {
    background-color: var(--datagrid-row-hover-color);
}

/* --------------------------------------------------------
*  BUTTONS
* -------------------------------------------------------*/
/* Button-Properties.css */
.button {
    --button-padding: 0.375rem;

    --button-font-family: var(--font-family-semibold);
    --button-font-size: var(--font-size-small, inherit);
    --button-font-weight: var(--font-weight, inherit);
    --button-line-height: 1;

    --button-color: var(--base-secondary-text-color);
    --button-background: transparent;
    --button-border-color: transparent;

    --button-hover-color: var(--base-secondary-text-color);
    --button-hover-background: var(--base-hover-color);
    --button-hover-border-color: var(--base-hover-color);

    --button-active-color: var(--base-secondary-text-color);
    --button-active-background: var(--base-active-color);
    --button-active-border-color: var(--base-active-color);

    --button-border-width: var(--border-width);
    --button-border-style: solid;
    --button-border-radius: var(--border-radius);

    /* Note: the icon size equals the font-size, but it can be scaled to visually appear bigger */
    --button-icon-margin: 0;
    --button-icon-gap: 1ch;
    --button-icon-scale: 24/14;
}

.button.primary {
    --button-color: var(--primary-text-color);
    --button-background: var(--primary-color);
    --button-border-color: var(--primary-color);

    --button-hover-color: var(--primary-text-color);
    --button-hover-background: var(--primary-hover-color);
    --button-hover-border-color: var(--primary-hover-color);

    --button-active-color: var(--primary-text-color);
    --button-active-background: var(--primary-active-color);
    --button-active-border-color: var(--primary-hover-color);
}

.button.secondary {
    --button-color: var(--base-secondary-text-color);
    --button-background: var(--base-hover-color);
    --button-border-color: var(--base-active-color);

    --button-hover-color: var(--base-secondary-text-color);
    --button-hover-background: var(--base-active-color);
    --button-hover-border-color: var(--base-active-color);

    --button-active-color: var(--base-secondary-text-color);
    --button-active-background: var(--base-active-deep-color);
    --button-active-border-color: var(--base-active-deep-color);
}

.button.outlined {
    --button-border-color: var(--border-color);
    --button-hover-border-color: var(--border-color);
    --button-active-border-color: var(--border-color);
}

/* Button.css */
.button {
    padding: var(--button-padding);

    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    line-height: var(--button-line-height);

    color: var(--button-color);
    background-color: var(--button-background);
    border-color: var(--button-border-color);

    border-width: var(--button-border-width);
    border-style: var(--button-border-style);
    border-radius: var(--button-border-radius);

    display: inline-flex;
    align-items: center;
    vertical-align: text-bottom;
    gap: var(--button-icon-gap);

    cursor: pointer;
    text-decoration: none;

    /* Design rule: text labels should remain on a single line */
    white-space: nowrap;

    /* If the icon scale exceeds the button boundary, we crop it */
    overflow: hidden;

    /* Ensure empty buttons or image only buttons have all the same line height */
    box-sizing: content-box;
    min-height: var(--button-line-height);
}

.button:hover,
.button.hover {
    color: var(--button-hover-color);
    background-color: var(--button-hover-background);
    border-color: var(--button-hover-border-color);
}

.button:active,
.button.active {
    color: var(--button-active-color);
    background-color: var(--button-active-background);
    border-color: var(--button-active-border-color);
}

.button-image {
    height: 1em;
    margin: var(--button-icon-margin);
    /* Icons are known to be served from SVG icons with 32x32 px in size with a 24x24 viewport so we include an additional scal*/
    transform: scale(calc((32/24) * var(--button-icon-scale)));
}

.buttongroup {
    display: inline-flex;
    vertical-align: bottom;
}

/* --------------------------------------------------------
*  MESSAGEBOX
* -------------------------------------------------------*/
.messagebox {
    --messagebox-padding-bottom: 10px;
    --messagebox-padding-left: 18px;
    --messagebox-padding-right: 0px;
    --messagebox-padding-top: 10px;

    --messagebox-text-padding-left: var(--messagebox-padding-left);
}

.messagebox {
    padding-bottom: var(--messagebox-padding-bottom);
    padding-left: var(--messagebox-padding-left);
    padding-right: var(--messagebox-padding-right);
    padding-top: var(--messagebox-padding-top);

    display: flex;
    align-items: center;
}

.messagebox-text {
    padding-left: var(--messagebox-text-padding-left);
}

.messagebox.success {
    background-color: var(--success-color);
}

.messagebox.information {
    background-color: var(--info-color);
}

.messagebox.warning {
    background-color: var(--warn-color);
}

.messagebox.error {
    background-color: var(--error-color);
}

/* --------------------------------------------------------
*  PROPERTY FIELD
* -------------------------------------------------------*/
.property-field {
    --property-field-padding-bottom: 2px;
    --property-field-padding-outer: 12px;
    --property-field-padding-inner: 4px;
    --property-field-padding-top: 2px;
}

.property-field-name {
    padding-bottom: var(--property-field-padding-bottom);
    padding-left: var(--property-field-padding-outer);
    padding-right: var(--property-field-padding-inner);
    padding-top: var(--property-field-padding-top);
}

.property-field-value {
    padding-bottom: var(--property-field-padding-bottom);
    padding-left: var(--property-field-padding-inner);
    padding-right: var(--property-field-padding-outer);
    padding-top: var(--property-field-padding-top);
}

/* --------------------------------------------------------
*  COMMAND LIST
* -------------------------------------------------------*/
.command-list {
    --command-list-padding-bottom: 2px;
    --command-list-padding-left: 12px;
    --command-list-padding-right: 12px;
    --command-list-padding-top: 2px;

    --command-list-gap: 6px;
}

.command-list {
    padding-bottom: var(--command-list-padding-bottom);
    padding-left: var(--command-list-padding-left);
    padding-right: var(--command-list-padding-right);
    padding-top: var(--command-list-padding-top);

    display: flex;
    gap: var(--command-list-gap);
}

.command-list.stacked {
    flex-direction: column;
}

/* --------------------------------------------------------
*  POPUP BOX
* -------------------------------------------------------*/
.popupbox {
    --popupbox-title-padding-bottom: 12px;
    --popupbox-title-padding-left: 12px;
    --popupbox-title-padding-right: 12px;
    --popupbox-title-padding-top: 12px;

    --popupbox-title-letter-spacing: 1.2px;
}

.popupbox {}

.popupbox-title {
    padding-bottom: var(--popupbox-title-padding-bottom);
    padding-left: var(--popupbox-title-padding-left);
    padding-right: var(--popupbox-title-padding-right);
    padding-top: var(--popupbox-title-padding-top);

    text-transform: uppercase;
    white-space: pre;
    letter-spacing: var(--popup-title-letter-spacing);
}

.popupbox-horizontal-rule {
    margin: auto;
}

/* --------------------------------------------------------
*  MENUBOX
* -------------------------------------------------------*/
.menubox {
    border-collapse: collapse;
}

.menubox-row:not(.nohover):has(.hover),
.menubox-row:not(.nohover):has(:hover) {
    background-color: var(--focus-color);
    cursor: pointer;
}

.menubox-text {    
    --menubox-text-padding-bottom: 4px;
    --menubox-text-padding-left: 12px;
    --menubox-text-padding-right: 1px;
    --menubox-text-padding-top: 4px;
}

.menubox-text {
    padding-bottom: var(--menubox-text-padding-bottom);
    padding-left: var(--menubox-text-padding-left);
    padding-right: var(--menubox-text-padding-right);
    padding-top: var(--menubox-text-padding-top);
}

.menubox-shortcut {    
    --menubox-shortcut-padding-bottom: 4px;
    --menubox-shortcut-padding-left: 6px;
    --menubox-shortcut-padding-right: 12px;
    --menubox-shortcut-padding-top: 4px;
}

.menubox-shortcut {
    padding-bottom: var(--menubox-shortcut-padding-bottom);
    padding-left: var(--menubox-shortcut-padding-left);
    padding-right: var(--menubox-shortcut-padding-right);
    padding-top: var(--menubox-shortcut-padding-top);
}

.menubox-icon {
    fill: var(--primary-color);

    width: 1em;
    height: 1em;
}

td:has(.menubox-icon) {
    --menubox-icon-padding-top: 5px;
}

td:has(.menubox-icon) {
    padding-top: var(--menubox-icon-padding-top);
}

.menubox-icon.inactive {
    opacity: 0;
}

.menubox-row:has(.hover) .menubox-icon.inactive,
.menubox-row:has(:hover) .menubox-icon.inactive {
    opacity: 1;
}

.menubox-horizontal-rule {
    --menubox-horizontal-rule-margin-bottom: 2px;
    --menubox-horizontal-rule-margin-left: 12px;
    --menubox-horizontal-rule-margin-right: 12px;
    --menubox-horizontal-rule-margin-top: 2px;

    --menubox-horizontal-rule-color: #d8d8d8;
}

.menubox-horizontal-rule {
    margin-bottom: var(--menubox-horizontal-rule-margin-bottom);;
    margin-left: var(--menubox-horizontal-rule-margin-left);
    margin-right: var(--menubox-horizontal-rule-margin-right);
    margin-top: var(--menubox-horizontal-rule-margin-top);

    border: solid 0.5px var(--menubox-horizontal-rule-color);
}

/* --------------------------------------------------------
*  TOOLBAR
* -------------------------------------------------------*/
/* Toolbar-Properties.css */
.toolbar {
    --toolbar-element-gap: var(--whitespace);
}

/* Toolbar.css */
.toolbar {
    display: flex;
    align-items: center;
    gap: var(--toolbar-element-gap);
}

/* --------------------------------------------------------
*  TAB-ITEMS
* -------------------------------------------------------*/
/* TabItem-Properties.css */
.tabitem {
    --tabitem-padding-top: 0.25rem;
    --tabitem-padding-right: 0.75rem;
    --tabitem-padding-bottom: 0;
    --tabitem-padding-left: 0.75rem;

    --tabitem-font-family: var(--font-family);
    --tabitem-font-size: var(--font-size-small, inherit);
    --tabitem-font-weight: var(--font-weight, inherit);
    --tabitem-font-case: uppercase;
    --tabitem-font-letter-spacing: 0.4ch;
    --tabitem-line-height: 1;

    --tabitem-color: var(--base-secondary-text-color);
    --tabitem-background: transparent;

    --tabitem-border-color: var(--border-color);
    --tabitem-border-width: var(--border-width);
    --tabitem-border-style: none;
    --tabitem-border-radius: 0;

    --tabitem-line-color: transparent;
    --tabitem-line-width: 3px;
    --tabitem-line-style: solid;
    --tabitem-line-spacing: 5px;

    /* Note: the icon size equals the font-size, but it can be scaled to visually appear bigger */
    --tabitem-icon-margin: 0 calc(1em * (5/14));
    --tabitem-icon-gap: 1ch;
    --tabitem-icon-scale: 24/14;

    --tabitem-hover-color: transparent;
    --tabitem-hover-background: transparent;

    --tabitem-selected-color: var(--base-text-color);
    --tabitem-selected-background: transparent;
    --tabitem-selected-line-color: var(--theme-color);
}

/* TabItem.css */
.tabitem {
    padding-top: var(--tabitem-padding-top);
    padding-right: var(--tabitem-padding-right);
    padding-bottom: var(--tabitem-padding-bottom);
    padding-left: var(--tabitem-padding-left);

    font-family: var(--tabitem-font-family);
    font-size: var(--tabitem-font-size);
    font-weight: var(--tabitem-font-weight);
    line-height: var(--tabitem-line-height);
    text-transform: var(--tabitem-font-case);
    letter-spacing: var(--tabitem-font-letter-spacing);
    text-decoration: none;

    color: var(--tabitem-color);
    background-color: var(--tabitem-background);

    border-top: var(--tabitem-border-style) var(--tabitem-border-width) var(--tabitem-border-color);
    border-right: var(--tabitem-border-style) var(--tabitem-border-width) var(--tabitem-border-color);
    border-left: var(--tabitem-border-style) var(--tabitem-border-width) var(--tabitem-border-color);
    border-top-left-radius: var(--tabitem-border-radius);
    border-top-right-radius: var(--tabitem-border-radius);

    cursor: pointer;

    /* a tabitem flows inline (at the bottom) and consists of a label and a ruler */
    display: inline-flex;
    vertical-align: text-bottom;
    flex-direction: column;
    gap: var(--tabitem-line-spacing);

    /* Design rule: text labels should remain on a single line */
    white-space: nowrap;

    /* If the icon scale exceeds the button boundary, we crop it */
    overflow: hidden;
}

.tabitem a {
    color: var(--tabitem-color);
}

.tabitem:hover,
.tabitem.hover {
    background-color: var(--tabitem-hover-background);
}

.tabitem.selected {
    color: var(--tabitem-selected-color);
    background-color: var(--tabitem-selected-background);

    --tabitem-line-color: var(--tabitem-selected-line-color);
}

.tabitem-label {
    display: inline-flex;
    align-items: center;
    gap: var(--tabitem-icon-gap);

    text-decoration: none;
}

.tabitem-label:visited {
    color: var(--tabitem-color);
}

.tabitem-line {
    margin: 0;
    border: none;
    border-bottom: var(--tabitem-line-style);
    border-bottom-width: var(--tabitem-line-width);
    border-bottom-color: var(--tabitem-line-color);
}

.tabitem-icon {
    height: 1em;
    margin: var(--tabitem-icon-margin);
    /* Icons are known to be served from SVG icons with 32x32 px in size with a 24x24 viewport so we include an additional scal*/
    transform: scale(calc((32/24) * var(--tabitem-icon-scale)));
}

/* --------------------------------------------------------
*  TAB-STRIPS
* -------------------------------------------------------*/
/* Tabstrip-Properties.css */
.tabstrip {
    --tabstrip-element-gap: 0;
}

.tabstrip.secondary .tabitem {
    --tabitem-background: var(--base-hover-color);
    --tabitem-hover-background: var(--base-hover-color);

    --tabitem-font-family: var(--font-family-semibold);
    --tabitem-font-weight: var(--font-weight-semibold);
    --tabitem-font-case: initial;
    --tabitem-font-letter-spacing: initial;

    --tabitem-selected-color: var(--theme-color);
    --tabitem-selected-background: var(--focus-color);
    --tabitem-selected-line-color: transparent;
}

.tabstrip.tiled .tabitem {
    --tabitem-padding-top: 11px;
    --tabitem-padding-right: 11px;
    --tabitem-padding-bottom: 11px;
    --tabitem-padding-left: 11px;

    --tabitem-background: var(--base-hover-color);
    --tabitem-hover-background: var(--base-active-color);
    --tabitem-selected-color: var(--theme-text-color);
    --tabitem-selected-background: var(--theme-color);

    --tabitem-font-family: var(--font-family-semibold);
    --tabitem-font-weight: var(--font-weight-semibold);
    --tabitem-font-case: initial;
    --tabitem-font-letter-spacing: initial;

    --tabitem-border-radius: 0;

    --tabitem-line-width: 0;
    --tabitem-line-spacing: 0;

    --tabitem-icon-margin: 0;
    --tabitem-icon-gap: 1.5ch;
}

/* Tabstrip.css */
.tabstrip {
    display: flex;
    padding: 0;
    margin: 0;

    gap: var(--tabstrip-element-gap);
}

/* --------------------------------------------------------
*  FORM-NAVIGATOR
* -------------------------------------------------------*/
.formnavigator {
    --formnavigator-color: var(--theme-color);
    --formnavigator-font-family: var(--font-family);
    --formnavigator-font-size: var(--label-font-size);
    --formnavigator-font-weight: var(--font-weight);

    --formnavigator-indicator-color: var(--theme-color);
    --formnavigator-indicator-size: 13px;

    --formnavigator-line-color: var(--theme-secondary-color);
    --formnavigator-line-width: 2px;

    --formnavigator-current-font-family: var(--font-family-bold);
    --formnavigator-current-font-weight: var(--font-weight-bold);
    --formnavigator-current-indicator-background: var(--base-color);

    --formnavigator-future-color: var(--base-secondary-text-color);
    --formnavigator-future-indicator-size: 7px;
    --formnavigator-future-line-width: 1px;
}

.formnavigator {
    display: flex;
}

.formnavigator-node {
    flex-grow: 1;

    cursor: pointer;
    color: var(--formnavigator-color);

    font-family: var(--formnavigator-font-family);
    font-size: var(--formnavigator-font-size);
    font-weight: var(--formnavigator-font-weight);

    /* pseudo element placement with grid */
    display: inline-grid;
    vertical-align: middle;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
        "ruler"
        "label";
}

.formnavigator-node.current {
    font-family: var(--formnavigator-current-font-family);
    font-weight: var(--formnavigator-current-font-weight);
}

.formnavigator-node.future {
    color: var(--formnavigator-future-color);
}

/* line (:before) */
.formnavigator-node:has(+ .formnavigator-node)::before {
    content: "";
    display: inline-block;

    width: 100%;
    height: 0;
    align-self: center;

    border-top: solid var(--formnavigator-line-width) var(--formnavigator-line-color);

    grid-area: ruler;
}

.formnavigator-node:has(+ .formnavigator-node.future)::before {
    border-top-color: var(--formnavigator-future-color);
    border-top-width: var(--formnavigator-future-line-width);
}

/* bubble (:after) */
.formnavigator-node::after {
    content: "";
    display: inline-block;

    width: var(--formnavigator-indicator-size);
    height: var(--formnavigator-indicator-size);
    align-self: center;

    background-color: var(--formnavigator-indicator-color);
    border: solid var(--formnavigator-line-width) var(--formnavigator-indicator-color);
    border-radius: 50%;

    grid-area: ruler;
}

.formnavigator-node.current::after {
    background-color: var(--formnavigator-current-indicator-background);
}

.formnavigator-node.future::after {
    border-color: transparent;
    background-color: var(--formnavigator-future-color);

    width: var(--formnavigator-future-indicator-size);
    height: var(--formnavigator-future-indicator-size);
}

/* --------------------------------------------------------
*  GroupBox
* -------------------------------------------------------*/
.groupbox {
    --groupbox-title-font-size: var(--font-size-large);
    --groupbox-title-font-family: var(--font-family-semibold);
    --groupbox-title-font-weight: var(--font-weight-semibold);
    --groupbox-title-color: inherit;

    --groupbox-subtitle-font-size: var(--font-size-small);
    --groupbox-subtitle-font-family: var(--font-family);
    --groupbox-subtitle-font-weight: var(--font-weight);
    --groupbox-subtitle-color: inherit;

    --groupbox-subtitle-gap: 1ch;
}

/* GroupBox.css */
/* .groupbox {} */

.groupbox-titlebar {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.groupbox-expander {
    cursor: pointer;
}

.groupbox-expander.hanging {
    position: absolute;
    transform: translateX(-100%);
}

.groupbox-expander.right {
    order: 1;
}

.groupbox-expander>img {
    /* HACK: Not final. Wrong SVG, wrong measures */
    margin: -5px;
    display: inline-block;
}

.groupbox-title-container {
    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    /* font-size is required for gap calculation if given in ch or em */
    font-size: var(--groupbox-title-font-size);
    column-gap: var(--groupbox-subtitle-gap);
}

.groupbox-title {
    margin: 0;

    font-family: var(--groupbox-title-font-family);
    font-size: var(--groupbox-title-font-size);
    font-weight: var(--groupbox-title-font-weight);

    color: var(--groupbox-title-color);
}

.groupbox-subtitle {
    margin: 0;

    font-family: var(--groupbox-subtitle-font-family);
    font-size: var(--groupbox-subtitle-font-size);
    font-weight: var(--groupbox-subtitle-font-weight);

    color: var(--groupbox-subtitle-color);
}

.groupbox-title.linked {
    cursor: pointer;
}

/* --------------------------------------------------------
*  FormArea
* -------------------------------------------------------*/
/* FormArea-Properties.css */
.formarea {
    --formarea-column-size: 21px;
}

/* FormArea.css */
.formarea {
    display: grid;
    grid-template-columns: repeat(40, var(--formarea-column-size));
}

.formarea-track {
    grid-column-start: 1;
}

.formarea-small {
    grid-column-end: span 4;
}

.formarea-medium {
    grid-column-end: span 6;
}

.formarea-large {
    grid-column-end: span 9;
}

.formarea-full {
    grid-column-end: span 40;
}

.formarea-small-filler {
    grid-column-start: 6;
    grid-column-end: -1;
}

.formarea-medium-filler {
    grid-column-start: 8;
    grid-column-end: -1;
}

.formarea-large-filler {
    grid-column-start: 11;
    grid-column-end: -1;
}

.formarea-half {
    grid-column-end: span 19;

    display: grid;
    grid-template-columns: repeat(19, var(--formarea-column-size));
}

.formarea-half+.formarea-half {
    grid-column-start: 22;
}

/* --------------------------------------------------------
*  FilterArea
* -------------------------------------------------------*/
.filterarea {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1ch;
}

.filterfield {
    display: flex;
    align-items: center;
    gap: 1ch;
}

/* --------------------------------------------------------
*  PropertyArea
* -------------------------------------------------------*/
.property-area {
    --property-area-section-header-padding-bottom: 2px;
    --property-area-section-header-padding-left: 12px;
    --property-area-section-header-padding-right: 12px;
    --property-area-section-header-padding-top: 12px;
}

.property-area {
    display: grid;
    grid-template-columns: max-content max-content;
}

.property-area-section-header {
    grid-column: 1 / span 2;

    padding-bottom: var(--property-area-section-header-padding-bottom);
    padding-left: var(--property-area-section-header-padding-left);
    padding-right: var(--property-area-section-header-padding-right);
    padding-top: var(--property-area-section-header-padding-top);

    font-weight: bold;
}

/* --------------------------------------------------------
*  Box controls
* -------------------------------------------------------*/
.box>* {
    overflow: hidden;
}

.hbox {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
}

.hbox>* {
    overflow: hidden;
}

.vbox {
    display: grid;
}

.vbox>* {
    overflow: hidden;
}

.inbox {
    display: flex;
    flex-wrap: wrap;
}

/* --------------------------------------------------------
*  WebView
* -------------------------------------------------------*/
/* WebView-Properties.css */
.webview {
    --webview-width: ;
    --webview-background: none;
    --webview-padding: 0;

    --webview-border-width: 0;
    --webview-border-color: transparent;

    --webview-box-shadow: ;
}

.webview.a4h {
    --webview-width: 888px;
}

.webview.a4q {
    --webview-width: 100%;
}

.webview.a4h,
.webview.a4q,
.webview.dialog {

    --webview-background: var(--base-color);
    --webview-border-width: var(--border-width);
    --webview-border-color: var(--border-color);

    --webview-padding: 5px 24px 5px 24px;
}

.webview.dialog {
    --webview-width: 355px;
}

.webview.login {
    --webview-width: 355px;
}

.webview.popup {
    --webview-width: 650px;
    --webview-background: var(--base-color);
    --webview-box-shadow: var(--shadow-color) 0px 0px 10px 0px;
}

/* TODO: The display-attirbute is mainly a container issue */
.webview.indicator {
    align-self: flex-start;
}

/* WebView.css */
.webview {
    max-width: var(--webview-width);
    padding: var(--webview-padding);

    /* no matter how small a webview gets, content  will not overflow */
    overflow: hidden;

    border-width: var(--webview-border-width);
    border-color: var(--webview-border-color);
    border-style: solid;

    background-color: var(--webview-background);

    box-shadow: var(--webview-box-shadow);
}

/* ========================================================
*  UTILITY / OVERRIDE RULES
* =======================================================*/
/* --------------------------------------------------------
*  UTILITY CLASSES
* -------------------------------------------------------*/
.push-right {
    margin-inline-start: auto;
}

/* --------------------------------------------------------
*  SECTION SPECIFIC THEMING
* -------------------------------------------------------*/
.section-header {
    background-color: var(--theme-secondary-color);
}

.section-header .tabstrip {
    --tabstrip-element-gap: 0.125rem;
}

.section-header .tabitem {
    --tabitem-padding-top: 8px;
    --tabitem-font-family: var(--font-family-semibold);
    --tabitem-font-letter-spacing: normal;

    --tabitem-color: var(--theme-secondary-text-color);
    --tabitem-selected-color: var(--primary-text-color);
    --tabitem-selected-line-color: var(--primary-text-color);

    --tabitem-line-spacing: 6px;
}

.area-index {
    --groupbox-title-color: var(--primary-color);
}

.groupbox-toolbar-footer {
    --button-padding: 4px 15px;
}

/* .area-form {} */